@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
/* visited link */
a:visited {
    color: #FFFFFF;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#f2f2f2;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

.clearfix {
    overflow: auto;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'IM Fell English', serif;
	color: #f2f2f2;
}
h1{
	font-size: 6em;
}
h2{
	font-size: 3em;
}
p{
	font-size: 2em;
}
.section{
	text-align: center;
}

div.venue-grid {
	width: 100%;
  	padding: 0;
    margin: 50px auto;
}

div.venue-grid-unit {
	 position: relative;
	 width: 50%;
	 height: 450px;
	 float: left;
	 display: inline;
	 margin: auto;
}

div.venue-info {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  background: rgba(179, 104, 20, 0.87);
  border-radius: 0px 15px 15px 0px;
  padding: 60px 10px;
  margin: 30px 0;
}

.acc-details {
    width: 80%;
    padding: 10px;
    margin:auto;
}

.grid {
  margin: 0 auto;
}

/* 4 columns by default */
/*
.grid-sizer,
.grid-item { width: 24%; }

.grid-item-3 { width: 30%; }

@media screen and (min-width: 768px) {
    .grid-sizer,
    .grid-item {
      width: 24%;
    }
}
*/
.grid-item {
  width: 150px;
  height: 120px;
  float: left;
  background: rgba(255,255,255, 0.5);
  border: 2px solid #000;
  border-color: hsla(0, 0%, 0%, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.acc-item{
    font-family: 'Abel', sans-serif;
}

.acc-item h2{
    margin-top: 10px;
    height: 2.6em;
    font-weight: bold;
    font-size: 1.0em;
}

.acc-item p{
    font-size: 0.8em;
    padding: 10px;
}

.acc-item a{
    display: block;
    margin-top:15px;
}

#acc-menu li {
    display:inline-block;
    margin: 25px 10px 10px 10px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
            border-radius: 10px;
}

#acc-menu li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#acc-menu li a{
    text-decoration:none;
    color: #000;
}
#acc-menu li.active a:hover{
    color: #000;
}
#acc-menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#acc-menu li a,
#acc-menu li.active a{
    padding: 9px 18px;
    display:block;
}
#acc-menu li.active a{
    color: #fff;
}
/* Menu
 * --------------------------------------- */
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

/* TODO change this font situation */
.intro p{
  font-family: 'Abel', sans-serif;
	width: 80%;
	margin: 0 auto;
	font-size: 1.5em;
}

.intro h3{
  font-family: 'Abel', sans-serif;
  font-size: 2.0em;
}

.rsvp{
	margin: 0 20% 0 0;
}

.rsvp p{
	padding: 20px 0 20px 0;
}

.btn {
  background: rgb(179, 104, 20);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: 1px solid #000;
  border-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 3px 13px #000;
  -moz-box-shadow: 0px 3px 13px #000;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: rgb(220, 124, 17);
  text-decoration: none;
}

/* Party
 * --------------------------------------- */
.party {
  width: 80%;
  margin: auto;
}

.party h1 {
  font-size: 3em;
  color: rgba(179, 104, 20, 0.87);
}

.party-group {
  padding: 20px 0px;
}

.party-item {
  width: 20%;
  height: 20%;
  float:left;
  margin: auto;
}

.party-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-large {
  width: 400px;
  height: 400px;
}

.party-feat {
  width: 50%;
  float:left;
}

.party-desc {
  width: 50%;
  float: left;
}

.party-desc h1 {
  font-size: 1.5em;
  text-align: left;
}

.party-desc p {
  font-size: 1em;
  text-align: left;
}

.party-name {
  font-family: 'Abel', sans-serif;
  padding: 5px 0;
  width: 150px;
  margin: 10px auto;
  background: rgba(179, 104, 20, 0.87);
  border-radius: 15px;

}

.pravin {
  background-image: url(../imgs/portraits/pravin.jpg);
  background-position: center 10%;
}
.danny {
  background-image: url(../imgs/portraits/danny.jpg);
}
.nate {
  background-image: url(../imgs/portraits/nate.jpg);
}
.michael {
  background-image: url(../imgs/portraits/michael.jpg);
}
.dave {
  background-image: url(../imgs/portraits/dave.jpg);
}

.sarena {
  background-image: url(../imgs/portraits/sarena.jpg);
  background-position: center 10%;
}
.sanober {
  background-image: url(../imgs/portraits/sanober.jpg);
}
.laurel {
  background-image: url(../imgs/portraits/laurel.JPG);
}
.cindy {
  background-image: url(../imgs/portraits/cindy.jpg);
  background-position: center 15%;
}
.haley {
  background-image: url(../imgs/portraits/haley.jpg);
}

/* Section 1
 * --------------------------------------- */
#section1 {
	background-image: url(../imgs/title.jpg);
	background-repeat: no-repeat;
	background-size:100% auto;
	background-position: center;
}
#section1 h1{
	color: #00304F;
	margin: 0 0 170px 0;
}
#section1 p{
	color: #333;
	color: rgba(0,0,0,0.3);
}
#section1 img{
	margin: 20px 0;
	opacity: 0.7;
}

/* Section 2
 * --------------------------------------- */
#section2 {
  background-image: url(../imgs/venue4.jpg);
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position: center;
}
#section2 h2,
#section2 h1,
#section2 p{
	z-index: 3;
  text-shadow: 2px 2px 4px #000000;
}
#section2 p{
	opacity: 0.8;
}

#section2 #colors{
	right: 60px;
	bottom: 0;
	position: absolute;
	height: 413px;
	width: 258px;
	background-repeat: no-repeat;
}

/* Section 3
 * --------------------------------------- */
  #section3 {
	background-image: url(../imgs/rsvp.jpg);
	background-repeat: no-repeat;
	background-size:100% auto;
	background-position: center;
}
#section3 #colors{
	left: 60px;
	bottom: 0;
}
#section3 p{
	color: #757575;
}

#colors2,
#colors3{
	position: absolute;
	height: 163px;
	width: 362px;
	z-index: 1;
	background-repeat: no-repeat;
	left: 0;
	margin: 0 auto;
	right: 0;
}
#colors2{
	top:0;
}
#colors3{
	bottom:0;
}

/* Section 4
 * --------------------------------------- */
 #section4 {
  background-image: url(../imgs/party.jpg);
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position: center;
}

#section4 h1,
#section4 h2{
  color: white;
}

#section4 h2{
  text-align: left;
  font-size: 1em;
  padding-bottom: 10px;
}

#section4 p{
  font-family: 'Abel', sans-serif;
}

.iframe-container {
  position: fixed; 
  right: 0; 
  bottom: 0; 
  left: 0;
  top: 0;
  -webkit-overflow-scrolling: touch !important;
  overflow-y: scroll !important;
}

/* Section 5
 * --------------------------------------- */
 #section5 h1{
  padding-top: 50px;
}
#section5 p{
  font-size: 1.2em;
}

/* Section 6
 * --------------------------------------- */
  #section6 {
  background-image: url(../imgs/gifts.jpg);
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position: center;
}
#section6 h1{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 0 0 100px 0;
}
#section6 p{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
#pp-nav.custom .pp-tooltip{
	color: #AAA;
}
#markup{
	display: block;
	width: 450px;
	margin: 20px auto;
	text-align: left;
}
